<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
        <div class="topnav">
                <a class="nav-link" href="http://localhost:5000/">Home</a>
                <a class="nav-link" href="http://localhost:5000/prediction">Prediction</a>
                <a class="nav-link" href="http://localhost:5000/menuhist">Historical Data</a>
                <a class="nav-link" href="http://localhost:5000/scoremodel">Score Model</a>
        </div>
        <div class="tengah">
                <form class="myForm" method="post" enctype="application/x-www-form-urlencoded" action="http://localhost:5000/histdata">
                    <fieldset>
                            <legend>Code of Stock</legend>
                            <p><label class="choice"> <input type="radio" name="namasaham" required value="BBRI" > BBRI (Bank BRI) </label></p>
                            <p><label class="choice"> <input type="radio" name="namasaham" required value="BMRI" > BMRI (Bank Mandiri) </label></p>
                            <p><label class="choice"> <input type="radio" name="namasaham" required value="BBNI" > BBNI (Bank BNI) </label></p>
                            <p><label class="choice"> <input type="radio" name="namasaham" required value="BBCA" > BBCA (Bank BCA) </label></p>
                    </fieldset>
                            <label>From :</label>
                            <input type="date" name="tanggal1" max={{a}} required>
                            <label>Until :</label>
                            <input type="date" name="tanggal2" max={{a}} required>
                    
                    <center>
                    <p><button>Historical Data</button></p>
                    </center>
                </form>
        </div>
        <div>
            <center>
                <h2>
                    <b>Historical Data of {{namasaham}} from {{tgl1}} until {{tgl2}}</b> 
                </h2>
                    {{tables | safe}}
                    <br>
                    <img src={{plot}} width="800" height="400">
            </center>

        </div>
    
</body>
</html>