<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="{{url_for('static',filename='home.css')}}"
    />          
        
    </head>
    <body>
        
        <div class="topnav">
                <center>
                <a class="nav-link" href="http://localhost:5000/">Home</a>
                <a class="nav-link" href="http://localhost:5000/prediction">Prediction</a>
                <a class="nav-link" href="http://localhost:5000/menuhist">Historical Data</a>
                <a class="nav-link" href="http://localhost:5000/scoremodel">Score Model</a>
                <a class="nav-link" href="http://localhost:5000/plotdata">Plot Data</a>
            </center>
        </div>

        <div class="header">
            <h1>Do you want to predicting the stock price ?</h1>
            <a style="font-size: 20pt;color: white;text-decoration: none" href="http://localhost:5000/prediction">LET'S TRY !</a>

        </div>

<body>

</html>